<div data-controller="documents--tab" 
     data-action="click->documents--tab#switch"
     data-documents--tab-id-value="<%= document.id %>"
     data-documents--tab-readonly-value="<%= "#{document.read_only}" %>"
     data-documents--tab-signed-value="<%= "#{document.signed_by?(current_user || current_participant)}" %>">
  <%= render document %>
</div>