<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t("agreements.privacy") %></h1>

  <%- if I18n.locale == :it %>
  <p class="mb-4 text-xl text-gray-700 leading-normal"><pre style="white-space: pre-wrap">
    LIBERATORIA UTILIZZO IMMAGINI, RIPRESE VIDEO E AUDIO PER LA FORNITURA DEI SERVIZI EROGATI ATTRAVERSO LA PIATTAFORMA AGREE.LIVE
PREMESSO CHE
a)	LAWING Srl, con sede in Milano, Piazza San Marco n. 1, iscritta al Registro Imprese di Milano, C.F. e P.IVA 10628920968, in persona del legale rappresentante pro tempore, (di seguito “Lawing”), è proprietaria della piattaforma on line denominata AGREE.LIVE (di seguito, “Piattaforma” e/o “AGREE.LIVE”);
b)	Il servizio fornito attraverso AGREE.LIVE ha ad oggetto la messa a disposizione di una “stanza virtuale”, cd. Video-room, all’interno della quale gli utenti della Piattaforma (di seguito, “Utenti”) si incontrano virtualmente per sottoscrivere documenti contrattuali e più in generale accordi, mediante l’utilizzo di una firma elettronica avanzata, come disciplinata dagli artt. 55 e seguenti del DPCM n. 82 del 22 febbraio 2013 (Regole tecniche in materia di generazione, apposizione e verifica delle firme elettroniche avanzate, qualificate e digitali) e comunque conforme ai requisiti previsti dall’art. 20 del D. Lgs n. 82 del 2005 (Codice dell’Amministrazione Digitale), parimenti erogata da LAWING attraverso la Piattaforma (di seguito, “Servizio”);
c)	Al fine di poter validamente erogare il Servizio e, quindi, per poter adempiere al contratto con l’Utente, LAWING ha la necessità di riprendere, videoregistrare e conservare, con mezzi fotografici e fonografici su digitale o su qualsiasi altro supporto attuale, le immagini, la voce nonché, in generale, le riprese audio/video di quanto accade anche nella “stanza virtuale”, con particolare riferimento al momento in cui ciascun Utente partecipa al processo di firma elettronica dei documenti caricati sulla Piattaforma (di seguito, “Immagini”);
d)	Le Immagini, per finalità legate all’esecuzione del contratto di fornitura del Servizio tra LAWING e l’Utente, sono destinate alla conservazione da parte di LAWING per la durata prevista dalla normativa applicabile ed all’eventuale diffusione alle autorità pubbliche eventualmente deputate alle verifiche circa la validità e/o correttezza del processo di sottoscrizione telematica e, più in generale, alle autorità chiamate ad accertare la genuinità del processo di firma e dei flussi di dati della Piattaforma;
e)	Io sottoscritto Utente, sottoscrivendo la presente liberatoria (di seguito, “Liberatoria”), riconosco che il conferimento della stessa è volontario ma indispensabile a LAWING per l’esecuzione del Servizio in conformità a quanto previsto dalla normativa allo stesso applicabile; concordo quindi che LAWING registri, conservi e più in generale utilizzi le Immagini per gli scopi sopra descritti; formalizzo l’autorizzazione alla raccolta, registrazione, conservazione ed utilizzo delle Immagini, incluso il mio ritratto in esse presente, disciplinando la concessione a LAWING di ogni e qualsivoglia diritto di uso e sfruttamento delle Immagini e del loro contenuto. 
Tutto quanto sopra premesso, con la sottoscrizione della presente Liberatoria

IO SOTTOSCRITTO UTENTE AUTORIZZO

a titolo gratuito, ai sensi dell’art. 10 c.c. e degli artt. 96 e 97 della legge 22 aprile 1941, n. 633 (Legge sul Diritto d’Autore), l’utilizzo delle Immagini, fissate su materiale video, audio e fotografico, riprese e registrate da LAWING durante l’utilizzo della Piattaforma.

Acconsento alla registrazione e conservazione - in qualsiasi formato o adattamento post‐produzione, anche in abbinamento con immagini degli altri Utenti presenti nella “stanza virtuale” - delle Immagini da parte di LAWING e/o dei soggetti terzi da questa autorizzati, su AGREE.LIVE nonché su qualsiasi altra piattaforma e/o supporto, anche di futura invenzione o di terzi, individuato da LAWING e, più in generale, acconsento all’utilizzo delle Immagini ai fini della corretta esecuzione del Servizio. 

Riconosco che, per effetto di tutto quanto indicato nella presente Liberatoria, LAWING diviene l’unica proprietaria delle riprese, registrazioni, interventi e, più in generale, di quanto transitato sulla Piattaforma. 

Concedo l’autorizzazione contenuta nella presente Liberatoria senza limiti di tempo e a titolo gratuito, con espressa rinuncia a qualsiasi tipo di compenso per i diritti ceduti e sollevando espressamente LAWING da qualsivoglia responsabilità conseguente alla registrazione, conservazione e utilizzo delle Immagini nel rispetto di quanto previsto nella presente Liberatoria e nell’informativa annessa. 
Aderendo on line la presente Liberatoria, rinuncio a qualsiasi pretesa relativa alla proprietà, gestione e utilizzo delle Immagini e acconsento a che le Immagini e tutti i materiali su cui sono fissate possano essere tagliati, elaborati, modificati, soggetti a integrazioni e/o cancellati in tutto o in parte al fine di produrre e/o conservare le Immagini stesse. 

Prendo atto che le Immagini potranno essere pubblicate e/o diffuse da LAWING qualora ciò fosse richiesto dalle autorità pubbliche e/o private eventualmente deputate alle verifiche circa la validità e/o correttezza del processo di sottoscrizione telematica e, più in generale, dalle autorità chiamate ad accertare la genuinità del processo di firma e dei flussi di dati della Piattaforma. 
Sottoscrivendo la presente Liberatoria autorizzo sin d’ora LAWING alla pubblicazione e/o diffusione delle Immagini in ogni modalità, forma e sede consentita dalla legge, con ogni mezzo conosciuto o di futura invenzione, e la sollevo da qualsivoglia responsabilità a ciò connessa e/o derivante 

Dichiaro espressamente di essere pienamente soddisfatto e di non aver nulla a che pretendere per nessuna ragione o titolo da LAWING, dai suoi cessionari e/o aventi causa con riferimento a tutto quanto previsto dalla presente Liberatoria, impegnandomi anche per il futuro a non sollevare alcuna eccezione, pretesa, rivendicazione o contestazione al riguardo e, per quanto occorrer possa, rinunciando irrevocabilmente a ogni diritto, azione o pretesa in relazione al pagamento di corrispettivo o indennità di sorta in ragione di quanto sopra indicato.

Garantisco a LAWING il pacifico godimento di tutti i diritti oggetto della presente Liberatoria per gli usi qui disciplinati.  
Dichiaro di aver preso visione dell’informativa sul trattamento dei dati personali allegata alla presente Liberatoria, che costituisce parte integrante della Liberatoria medesima, ai sensi e per gli effetti di cui all’articolo 13 del Regolamento UE 2016/679, recante il cd. Regolamento Generale sulla Protezione dei Dati personali.

La presente Liberatoria è governata dalla Legge della Repubblica Italiana; per qualsiasi controversia in merito al contenuto, all’interpretazione, alla validità, all’efficacia e/o alla esecuzione della medesima, sarà competente in via esclusiva e inderogabile il Foro di Milano.
 </pre></p>
  <% end %>

  <%- if I18n.locale == :en %>
  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Dear user, the legislation in question currently takes into account the requirements of Italian legislation for transactions concluded on Italian territory or in any case by natural or legal persons subject to Italian and European regulations.
  </p>
  <% end %>
</div>
