<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t("participants.sign_in.show.media_processing") %></h1>

  <%- if I18n.locale == :it %>
  <p class="mb-4 text-xl text-gray-700 leading-normal"><pre style="white-space: pre-wrap">
    LIBERATORIA UTILIZZO IMMAGINI, RIPRESE VIDEO E AUDIO PER LA FORNITURA DEI SERVIZI EROGATI ATTRAVERSO LA PIATTAFORMA AGREE.LIVE
PREMESSO CHE
    a) LAWING Srl, con sede in Milano, Piazza San Marco n. 1, iscritta al Registro Imprese di Milano, C.F. e P.IVA 10628920968, in persona del legale rappresentante pro tempore, (di seguito “Lawing”), è proprietaria della piattaforma on line denominata AGREE.LIVE (di seguito, “Piattaforma” e/o “AGREE.LIVE”);
    b) Il servizio fornito attraverso AGREE.LIVE ha ad oggetto la messa a disposizione di una “stanza virtuale”, cd. Video-room, all’interno della quale gli utenti della Piattaforma (di seguito, “Utenti”) si incontrano virtualmente per sottoscrivere documenti contrattuali e più in generale accordi, mediante l’utilizzo di una firma elettronica avanzata, come disciplinata dagli artt. 55 e seguenti del DPCM n. 82 del 22 febbraio 2013 (Regole tecniche in materia di generazione, apposizione e verifica delle firme elettroniche avanzate, qualificate e digitali) e comunque conforme ai requisiti previsti dall’art. 20 del D. Lgs n. 82 del 2005 (Codice dell’Amministrazione Digitale), parimenti erogata da LAWING attraverso la Piattaforma (di seguito, “Servizio”);
    c) Al fine di poter validamente erogare il Servizio e, quindi, per poter adempiere al contratto con l’Utente, LAWING ha la necessità di riprendere, videoregistrare e conservare, con mezzi fotografici e fonografici su digitale o su qualsiasi altro supporto attuale, le immagini, la voce nonché, in generale, le riprese audio/video di quanto accade anche nella “stanza virtuale”, con particolare riferimento al momento in cui ciascun Utente partecipa al processo di firma elettronica dei documenti caricati sulla Piattaforma (di seguito, “Immagini”);
    d) Le Immagini, per finalità legate all’esecuzione del contratto di fornitura del Servizio tra LAWING e l’Utente, sono destinate alla conservazione da parte di LAWING per la durata prevista dalla normativa applicabile ed all’eventuale diffusione alle autorità pubbliche eventualmente deputate alle verifiche circa la validità e/o correttezza del processo di sottoscrizione telematica e, più in generale, alle autorità chiamate ad accertare la genuinità del processo di firma e dei flussi di dati della Piattaforma;
    e) Io sottoscritto Utente, sottoscrivendo la presente liberatoria (di seguito, “Liberatoria”), riconosco che il conferimento della stessa è volontario ma indispensabile a LAWING per l’esecuzione del Servizio in conformità a quanto previsto dalla normativa allo stesso applicabile; concordo quindi che LAWING registri, conservi e più in generale utilizzi le Immagini per gli scopi sopra descritti; formalizzo l’autorizzazione alla raccolta, registrazione, conservazione ed utilizzo delle Immagini, incluso il mio ritratto in esse presente, disciplinando la concessione a LAWING di ogni e qualsivoglia diritto di uso e sfruttamento delle Immagini e del loro contenuto. 
Tutto quanto sopra premesso, con la sottoscrizione della presente Liberatoria

IO SOTTOSCRITTO UTENTE AUTORIZZO

a titolo gratuito, ai sensi dell’art. 10 c.c. e degli artt. 96 e 97 della legge 22 aprile 1941, n. 633 (Legge sul Diritto d’Autore), l’utilizzo delle Immagini, fissate su materiale video, audio e fotografico, riprese e registrate da LAWING durante l’utilizzo della Piattaforma.

Acconsento alla registrazione e conservazione - in qualsiasi formato o adattamento post‐produzione, anche in abbinamento con immagini degli altri Utenti presenti nella “stanza virtuale” - delle Immagini da parte di LAWING e/o dei soggetti terzi da questa autorizzati, su AGREE.LIVE nonché su qualsiasi altra piattaforma e/o supporto, anche di futura invenzione o di terzi, individuato da LAWING e, più in generale, acconsento all’utilizzo delle Immagini ai fini della corretta esecuzione del Servizio. 

Riconosco che, per effetto di tutto quanto indicato nella presente Liberatoria, LAWING diviene l’unica proprietaria delle riprese, registrazioni, interventi e, più in generale, di quanto transitato sulla Piattaforma. 

Concedo l’autorizzazione contenuta nella presente Liberatoria senza limiti di tempo e a titolo gratuito, con espressa rinuncia a qualsiasi tipo di compenso per i diritti ceduti e sollevando espressamente LAWING da qualsivoglia responsabilità conseguente alla registrazione, conservazione e utilizzo delle Immagini nel rispetto di quanto previsto nella presente Liberatoria e nell’informativa annessa. 
Aderendo on line la presente Liberatoria, rinuncio a qualsiasi pretesa relativa alla proprietà, gestione e utilizzo delle Immagini e acconsento a che le Immagini e tutti i materiali su cui sono fissate possano essere tagliati, elaborati, modificati, soggetti a integrazioni e/o cancellati in tutto o in parte al fine di produrre e/o conservare le Immagini stesse. 

Prendo atto che le Immagini potranno essere pubblicate e/o diffuse da LAWING qualora ciò fosse richiesto dalle autorità pubbliche e/o private eventualmente deputate alle verifiche circa la validità e/o correttezza del processo di sottoscrizione telematica e, più in generale, dalle autorità chiamate ad accertare la genuinità del processo di firma e dei flussi di dati della Piattaforma. 
Sottoscrivendo la presente Liberatoria autorizzo sin d’ora LAWING alla pubblicazione e/o diffusione delle Immagini in ogni modalità, forma e sede consentita dalla legge, con ogni mezzo conosciuto o di futura invenzione, e la sollevo da qualsivoglia responsabilità a ciò connessa e/o derivante 

Dichiaro espressamente di essere pienamente soddisfatto e di non aver nulla a che pretendere per nessuna ragione o titolo da LAWING, dai suoi cessionari e/o aventi causa con riferimento a tutto quanto previsto dalla presente Liberatoria, impegnandomi anche per il futuro a non sollevare alcuna eccezione, pretesa, rivendicazione o contestazione al riguardo e, per quanto occorrer possa, rinunciando irrevocabilmente a ogni diritto, azione o pretesa in relazione al pagamento di corrispettivo o indennità di sorta in ragione di quanto sopra indicato.

Garantisco a LAWING il pacifico godimento di tutti i diritti oggetto della presente Liberatoria per gli usi qui disciplinati.  
Dichiaro di aver preso visione dell’informativa sul trattamento dei dati personali allegata alla presente Liberatoria, che costituisce parte integrante della Liberatoria medesima, ai sensi e per gli effetti di cui all’articolo 13 del Regolamento UE 2016/679, recante il cd. Regolamento Generale sulla Protezione dei Dati personali.

La presente Liberatoria è governata dalla Legge della Repubblica Italiana; per qualsiasi controversia in merito al contenuto, all’interpretazione, alla validità, all’efficacia e/o alla esecuzione della medesima, sarà competente in via esclusiva e inderogabile il Foro di Milano.


INFORMATIVA PRIVACY
AI SENSI DELL’ART. 13 DEL REGOLAMENTO UE 2016/679 (“GDPR”) 

    1. Titolare del trattamento dei Dati Personali 

1.1.	LAWING S.r.l., con sede in Milano, Piazza San Marco n. 1, iscritta al Registro Imprese di Milano, C.F. e P.IVA __________, in persona del legale rappresentante pro tempore, (di seguito “Lawing” o il “Titolare”), in qualità di Titolare del trattamento, tratterà i Suoi dati personali in conformità a quanto stabilito dalla normativa applicabile in materia di privacy e protezione dei dati personali e dalla presente informativa.

    2. Oggetto e Modalità del trattamento

        1.1. LAWING tratterà i Suoi dati personali al fine di erogare il servizio previsto dalla piattaforma AGREE.LIVE (di seguito, “Piattaforma” e/o “AGREE.LIVE”) secondo le modalità meglio descritte nel documento denominato “Il Servizio di Firma Elettronica erogato da LAWING” reperibile al seguente link _________. 
        1.2. In particolare, LAWING potrà trattare i seguenti dati personali comuni, da Lei comunicati (i) contestualmente alla registrazione ad AGREE.LIVE quali, in particolare, il suo nome, cognome, data e luogo di nascita, codice fiscale, indirizzo di residenza e/o domicilio, i dati personali contenuti nel Suo documento di riconoscimento, il numero di telefono, indirizzo e-mail, indirizzo IP, OTP e/o (ii) durante l’utilizzo della Piattaforma quali, in particolare, la Sua immagine, voce, la sua firma e la relativa immagine scansita, nonché tutti gli ulteriori dati personali comuni che dovessero essere contenuti nei documenti che formeranno oggetto di sottoscrizione nel corso della riunione che si svolgerà nella “stanza virtuale” messa a disposizione mediante AGREE.LIVE e/o negli ulteriori documenti a questi allegati. 
        1.3. Poiché non si può escludere a priori che all’interno dei documenti che formeranno oggetto di sottoscrizione nel corso della riunione che si svolgerà nella “stanza virtuale” messa a disposizione mediante AGREE.LIVE e/o negli ulteriori documenti a questi allegati siano contenuti dati personali particolari e/o dati giudiziari, come meglio descritti, rispettivamente, agli artt. 9 e 10 del GDPR, LAWING potrà trattare anche dati personali particolari quali, a titolo esemplificativo e non esaustivo, dati personali che rivelino l’origine razziale o etnica, le opinioni politiche, le convinzione religiose o filosofiche o l’appartenenza sindacale, dati relativi alla salute o alla vita sessuale o all'orientamento sessuale della persona ecc. come pure dati personali giudiziari quali dati relativi alle condanne penali e ai reati o a connesse misure di sicurezza (di seguito, complessivamente definiti, “Dati Personali”).
        1.4. Per trattamento di Dati Personali ai fini della presente informativa è da intendersi qualsiasi operazione o insieme di operazioni, compiute con l’ausilio di processi automatizzati e applicate ai Dati Personali, come la raccolta, la registrazione, l’organizzazione, la strutturazione, la conservazione, l’adattamento o la modifica, l’estrazione, la consultazione, l’uso, la comunicazione mediante trasmissione, diffusione o qualsiasi altra forma di messa a disposizione, il raffronto o l’interconnessione, la limitazione, la cancellazione o la distruzione.

        1.5. La informiamo che tali Dati Personali verranno trattati manualmente e/o con il supporto di mezzi informatici o telematici.

    3. Finalità e base giuridica del trattamento

        1.6. LAWING tratterà i suoi Dati Personali per il conseguimento di finalità precise e solo in presenza di una specifica base giuridica prevista dalla legge applicabile in materia di privacy e protezione dei dati personali.
Nello specifico, le basi giuridiche sono le seguenti:
    (i) Art. 6, comma 1, lettera b) del GDPR, poiché il trattamento è necessario all’esecuzione di un contratto di cui Lei (di seguito anche “Interessato”) è parte o all’esecuzione di misure precontrattuali adottate su richiesta dello stesso;
    (ii) Art. 6, comma 1, lettera c) del GDPR, poiché il trattamento è necessario per adempiere un obbligo legale al quale è soggetto il Titolare del trattamento;
    (iii) Con particolare riferimento ai Dati Personali Particolari meglio descritti al punto 2.2 che precede, la base giuridica del trattamento è il consenso libero ed esplicito da Lei espresso ai sensi dell’art. 9, comma 1 del GDPR. A tale proposito si precisa che il consenso da Lei liberamente ed inequivocabilmente espresso è sempre revocabile dall’Interessato. 

        1.7. LAWING tratterà i suoi Dati Personali per il conseguimento delle seguenti finalità:
    (i) esecuzione del servizio AGREE.LIVE;
    (ii) dimostrazione della valida apposizione di una firma elettronica avanzata sui documenti sottoscritti dagli Interessati all’interno della “stanza virtuale” messa a disposizione mediante AGREE.LIVE;
    (iii) finalità amministrativo-contabili correlate, ovvero per lo svolgimento delle relative attività di natura organizzativa, amministrativa, finanziaria e contabile;
    (iv) marketing per la promozione e la vendita di nostri prodotti e servizi (attraverso comunicazioni commerciali anche di Suo specifico interesse) nonché per l’invio di questionari finalizzati a verificare il livello di gradimento dei servizi.

        1.8. Il conferimento dei Suoi Dati Personali è necessario in tutti i casi in cui il trattamento avviene sulla base di un obbligo di legge o per eseguire un contratto di cui Lei è parte. Un eventuale Suo rifiuto comporterà per il Titolare l’impossibilità di eseguire il servizio fornito mediante AGREE.LIVE e, conseguentemente, l’impossibilità di dar corso alla finalità per cui i Dati Personali sono raccolti. 
        1.9. Il conferimento dei Dati Personali per le finalità di cui al precedente punto (iv) non è obbligatorio ed il relativo trattamento richiede il Suo consenso, liberamente ed inequivocabilmente espresso e revocabile in qualunque momento.
        1.10. Con riguardo ai Dati Personali Particolari, si precisa che il consenso da Lei liberamente ed inequivocabilmente espresso è sempre revocabile dall’Interessato. Tuttavia, poiché il trattamento dei Dati Personali per cui tale consenso è richiesto è necessario al Titolare per eseguire il servizio offerto mediante AGREE.LIVE, si precisa sin d’ora che il rifiuto a fornire il consenso e/o la revoca dello stesso comporterà per LAWING l’impossibilità di fornire il servizio AGREE.LIVE per cause alla stessa non imputabili. Resta in ogni caso inteso che il trattamento di Dati Personali basato sul consenso prima del suo ritiro rimarrà pienamente lecito e legale.

    4. Destinatari dei Dati Personali

        1.11. I suoi Dati Personali potranno essere resi accessibili, per le finalità sopra menzionate, ai seguenti destinatari:

    a) Ai soggetti che hanno sottoscritto con LAWING un contratto per la fornitura del servizio AGREE.LIVE (di seguito, “Licenziatari”) nonché ai soggetti che usufruiscono della Piattaforma in quanto invitati dal Licenziatari (di seguito, “Ospiti”);
    b) al personale interno a LAWING, in qualità di incaricato/autorizzati del trattamento e/o amministratori di sistema, ai fini dell’adempimento delle mansioni loro attribuite;
    c) alle società terze o altri soggetti (a titolo esemplificativo e non esaustivo: internet service provider, consulenti esterni per la realizzazione delle Immagini, terzi che prestano servizi di supporto ai sistemi e alle tecnologie, hosting, conservazione e altre attività di trattamento in relazione a software e dati ecc.) (di seguito, “Terze Parti”), che svolgono attività in outsourcing per conto del Titolare, nella loro qualità di responsabili esterni del trattamento;
    d) alle autorità pubbliche eventualmente deputate alle verifiche circa la validità e/o correttezza del processo di sottoscrizione telematica e, più in generale, alle autorità pubbliche e/o private chiamate ad accertare la genuinità del processo di firma e dei flussi di dati della Piattaforma.
4.2	Ogni qualvolta i dati personali siano comunicati a soggetti terzi, ciò avverrà solo nella misura necessaria a dare esecuzione al servizio attraverso la Piattaforma AGREE.LIVE o per i legittimi interessi di LAWING. Tutti i soggetti terzi in questione saranno preventivamente incaricati e contrattualmente vincolati nei confronti di LAWING ad effettuare il trattamento dei Suoi dati personali esclusivamente in conformità alle istruzioni impartite e alla normativa applicabile. L’elenco completo dei responsabili del trattamento è disponibile scrivendo al seguente indirizzo e-mail ______. LAWING potrà inoltre comunicare i dati personali a un soggetto terzo nella misura in cui ciò si renda necessario in relazione alla vendita o ad altra cessione, in tutto o in parte, dell’azienda o qualora sia richiesto di procedere in tal senso dalla legge o per adempiere debite richieste di autorità pubbliche o di autorità incaricate dell’applicazione della legge.

    5. Trasferimento dei Dati Personali

        1.12. I suoi Dati Personali saranno trattati all’interno dell’Unione Europea e conservati su server parimenti ubicati all’interno dell’Unione Europea, nei limiti e alle condizioni degli art. 44 e ss. del Regolamento UE 2016/679, al fine di ottemperare alle finalità connesse ai trattamenti.  

    6. Periodo di conservazione dei Dati Personali

        1.13. I Dati Personali oggetto di trattamento per le finalità di cui sopra saranno conservati nel rispetto dei principi di proporzionalità e necessità, e comunque per il tempo necessario al perseguimento delle finalità per cui questi sono originariamente raccolti, a seguito del quale saranno cancellati o archiviati, salvo che – e nella misura in cui - ciò si renda necessario per adempiere agli obblighi legali cui è assoggettata LAWING, o per altra finalità legittima e lecita. Più precisamente, i suoi Dati Personali saranno conservati di norma per il periodo previsto dalla legge (20 anni, ai sensi degli artt. 55 e seguenti del DPCM n. 82 del 22 febbraio 2013).

    7. Diritti degli interessati 

        1.14. Ai sensi degli artt. 15 – 21 del GDPR, in relazione ai Dati Personali comunicati, lei ha il diritto di: 
    a) accedere e chiederne copia;
    b) richiedere la rettifica;
    c) richiedere la cancellazione;
    d) ottenere la limitazione del trattamento;
    e) opporsi al trattamento; 
    f) ricevere in un formato strutturato, di uso comune e leggibile da dispositivo automatico e di trasmettere senza impedimenti tali dati a un altro titolare del trattamento, ove tecnicamente fattibile. 

Per esercitare uno dei diritti sopra menzionati, è necessario inviare una richiesta a LAWING al seguente indirizzo:
_____________
______________

        1.15. Le ricordiamo che è un Suo diritto proporre un reclamo al Garante per la Protezione dei Dati Personali, mediante:
        1.16. 
    a) raccomandata A/R indirizzata a Garante per la protezione dei dati personali, Piazza Venezia n. 11 – 00187 Roma
    b) e-mail all'indirizzo: protocollo@gpdp.it, oppure protocollo@pec.gpdp.it;
    c) fax al numero: (+39) 06.69677.3785.


Consenso al trattamento dei dati personali
L’Interessato, dopo avere preso visione dell’Informativa Privacy resa ai sensi dell’art. 13 del GDPR che precede, esprime il consenso ai seguenti trattamenti:
    1. Trattamento di Dati Personali Particolari, come descritto al punto 2.3 dell’Informativa

□ presto il consenso                                           □ nego il consenso


    2. Trattamento di Dati Personali, per finalità di marketing come descritto al punto 3.2 (iv) dell’Informativa

□ presto il consenso                                           □ nego il consenso
    </pre></p>
  <% end %>

  <%- if I18n.locale == :en %>
  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Dear user, the legislation in question currently takes into account the requirements of Italian legislation for transactions concluded on Italian territory or in any case by natural or legal persons subject to Italian and European regulations.
  </p>
  <% end %>
</div>
