<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t("agreements.signature") %></h1>

  <%- if I18n.locale == :it %>
  <p class="mb-4 text-xl text-gray-700 leading-normal"><pre style="white-space: pre-wrap">
IL SERVIZIO DI FIRMA ELETTRONICA EROGATO DA LAWING S.r.l.

NOTA INFORMATIVA ED ACCETTAZIONE DEL SERVIZIO E DELLE SUE MODALITA’ DI EROGAZIONE

1.	Informazioni Generali
1.1	Lawing S.r.l. ha implementato un’innovativa soluzione informatica, denominata Agree.Live, che consente di effettuare video-meeting on line e di sottoscrivere elettronicamente documenti informatici.
1.2	Agree.Live è una piattaforma on line (cd. SaaS) il cui utilizzo è concesso a coloro che mediante registrazione acquisiscono le credenziali di utilizzo ed accesso ad una area riservata dedicata della piattaforma (di seguito il “Licenziatario”).
1.3	Ciascun Licenziatario ha la facoltà di far accedere mediante invito alla propria area riservata una o più persone (di seguito “Ospiti”), per la partecipazione ai video-meeting e così pure ai processi di apposizione della firma elettronica.
1.4	Il Licenziatario e gli Ospiti, invitati dal medesimo, sono entrambi utenti (di seguito gli “Utenti”) della piattaforma Agree.Live, che in quanto tali sono tenuti a seguire i medesimi adempimenti per portare correttamente a termine il processo apposizione della firma elettronica.
1.5	La sottoscrizione dei documenti avviene mediante l’utilizzo di un dispositivo di firma elettronica impostata sulla base dei requisiti giuridici e informatici previsti dal Decreto Legislativo n. 82/2005 (Codice dell’Amministrazione Digitale) e dal DPCM del 22.2.13 (Regole tecniche in materia di generazione, apposizione e verifica delle firme elettroniche avanzate, qualificate e digitali).
1.6	Nel presente ambito, Lawing S.r.l. – per il tramite dalla piattaforma Agree.Live – opera come soggetto realizzatore e fornitore della soluzione di firma elettronica, così come previsto dall’art. 55, comma 2, lett. b, DPCM 22.2.13. Conseguentemente, il processo per l’apposizione della firma elettronica a cui partecipano gli “Utenti” (i.e. Licenziatario e Ospiti) non implica alcun rapporto contrattuale con Lawing S.r.l. Di conseguenza, ogni Utente della piattaforma è tenuto ad accertare di volta in volta l’identità degli altri partecipanti al video-meeting ed ai relativi processi di firma, così da conoscere esattamente ciascun firmatario. 
1.7	La piattaforma Agree.Live è stata appositamente impostata per consentire a ciascun Utente di verificare ed attestare l’identità di ogni partecipante, sia per il tramite del riconoscimento de visu effettuabile nel corso dei video-meeting, sia mediante il controllo dei documenti di identità che possono essere esibiti e verificati proprio per il tramite della piattaforma.
1.8	Le soluzioni tecnologiche di Agree.Live fanno riferimento ai requisiti elencati dall’art. 56, comma 2, lettere da a) ad h), previsti per la firma elettronica avanzata (FEA) realizzata tramite One Time Password (cd. OTP), vale a dire un codice random trasmesso al telefono cellulare di ciascun Utente (Licenziatario e così pure Ospite). La OTP generata dalla piattaforma Agree.Live è univocamente associata alla transazione di firma e così pure all’Utente sul cui telefono cellulare è stata recapitata mediante SMS.
Inoltre, il processo di firma elettronica di Agree.Live è stato impostato sulla base del dettato normativo ulteriormente previsto dall’art. 20, comma 1bis, DPCM 22.2.13, relativo al “documento informatico … formato, previa identificazione informatica del suo autore, attraverso un processo avente i requisiti fissati dall’Agid ai sensi dell’art. 71 con modalità tali da garantire la sicurezza, integrità e immodificabilità del documento e, in maniera manifesta ed inequivoca, la sua riconducibilità all’autore” con il proposito di soddisfare il requisito della forma scritta e l’efficacia prevista dall’art. 2702 c.c.
1.9	La corretta e puntuale esecuzione su Agree.Live dei processi di identificazione dei partecipanti, di raccolta delle firme elettroniche e di successiva notarizzazione dei flussi di dati è tale da corrispondere in ogni caso ai più alti standard di sicurezza, integrità ed immodificabilità.

2.	Adesione ai servizi di firma elettronica offerti su Agree.Live
2.1	La digitazione dei pulsanti di accettazione posti in calce alla presente informativa esprime e formalizza il consenso dell’Utente all’utilizzo delle soluzioni di firma elettronica, anche avanzata, offerte da Agree.Live.
La presente informativa si considera così compresa ed accettata sin dal momento stesso in cui l’Utente abbia premuto i pulsanti digitali per l’accettazione dell’uso dei dispositivi di firma elettronica implementati da Agree.Live.
2.2	Con la compilazione telematica della registrazione e la digitazione del pulsante di accettazione, il contenuto della presente informativa si considera letto e compreso in ogni suo punto dall’Utente e di conseguenza irrevocabile per lo stesso, ai sensi dell’art. 1329 c.c.
2.3	La copia del documento che attesta l’adesione, sarà conservata, secondo quanto previsto dalla vigente normativa. L’Utente potrà chiedere, in ogni momento e gratuitamente, la copia degli accordi mediante richiesta scritta.
Resta inteso che, in qualunque momento, l’Utente può revocare il consenso all'utilizzo del servizio.

3.	Caratteristiche della soluzione di Firma Elettronica Avanzata di Agree.Live
3.1	Il processo di firma elettronica avanzata predisposto da Agree.Live si propone di corrispondere a quanto previsto dall’art. 56, comma 1, DPCM 22.2.13, nelle seguenti modalità:
a)	l’identificazione del firmatario del documento:
	a.1	ciascun firmatario utente viene identificato con la registrazione di nome, cognome, utenza telefonica mobile ed indirizzo mail, che sono i dati personali indispensabili per l’accesso alla piattaforma Agree.Live;
a.2	dopo aver effettuato l’accesso sulla area riservata della piattaforma, ciascun firmatario è tenuto a caricare mediante upload sulla piattaforma il proprio documento di identità;
a.3	lo stesso documento di identità viene poi messo a disposizione degli altri utenti firmatari, che possono così dar luogo ad un riconoscimento de visu;
a.4	la apposizione della firma elettronica avanzata avviene mediante OTP recapitata al numero della utenza telefonica appartenente a ciascun utente;
a.5	con la apposizione della firma elettronica avanzata, la piattaforma rileva anche l’indirizzo IP di ciascun utente firmatario.
b)	la connessione univoca della firma al firmatario:
	la Firma Elettronica Avanzata apposta dall’Utente viene associata in maniera sicura e univoca al medesimo per il tramite di un processo per il quale la One Time Password, necessaria alla apposizione della firma elettronica, è conosciuta in via esclusiva in quanto ricevuta sul numero di utenza del dispositivo mobile da lui stesso indicato. Inoltre, viene anche garantita la conservazione digitale del documento informatico oggetto della sottoscrizione.
c)	il controllo esclusivo del firmatario del sistema di generazione della firma:
il solo modo per apporre la firma elettronica avanzata su Agree.Live è dato dalla partecipazione al video-meeting, da cui consegue il riconoscimento de visu, unitamente all’utilizzo della OTP associata al dispositivo mobile in uso all’utente firmatario.
d)	la possibilità di verificare che il documento informatico sottoscritto non abbia subito modifiche dopo l’apposizione della firma:
la marca temporale applicata al file oggetto di Firma Elettronica Avanzata cristallizza il momento di avvenuta sottoscrizione dell’accordo. Il controllo della corrispondenza tra un’impronta ricalcolata e quella “sigillata” all’interno delle firme consente in ogni momento di verificare che il documento informatico sottoscritto non abbia subito modifiche dopo l’apposizione della firma.
e)	la possibilità per il firmatario di ottenere evidenza di quanto sottoscritto:
l’utente firmatario può prendere visione del documento prima della sua sottoscrizione e dopo l’apposizione della firma può scaricare il duplicato informativo del documento informatico oppure può chiederne copia richiedendolo a Lawing S.r.l.
f)	l’individuazione del soggetto che eroga la presente soluzione di firma elettronica avanzata:
Lawing S.r.l. – Piazza San Marco n. 1 – 20121 Milano
g)	l’assenza di qualunque elemento nell’oggetto della sottoscrizione atto a modificarne gli atti, fatti o dati nello stesso rappresentati:
l’hash, che è generato sulla base dei flussi di dati relativi a ciascun processo di firma, viene poi notarizzato su blockchain pubblica.
h)	la connessione univoca della firma al documento sottoscritto:
	la marca temporale applicata al documento originale firmato elettronicamente certifica che la firma è stata utilizzata unicamente per tale documento e limitatamente al relativo processo di firma.

4.	Modalità di funzionamento del servizio di Firma Elettronica Avanzata
4.1	Il servizio di FEA adottato da Lawing S.r.l. su Agree.Live consente le seguenti modalità di utilizzo.
	Licenziatario: controllo dei dati personali dell’Ospite dal medesimo invitato; verifica della identità dell’Ospite mediante riconoscimento de visu e confronto durante il video-meeting dell’ID caricato dal medesimo; lettura ed eventuale modifica del contenuto contrattuale; apposizione della firma elettronica avanzata mediante OTP recata sul proprio telefono cellulare; eventuale annullamento della operazione mediante click sul tasto Abbandona Meeting.
	Ospite:	 controllo dei dati personali del Licenziatario da cui ha ricevuto l’invito; verifica della identità del Licenziatario mediante riconoscimento de visu e confronto durante il video-meeting dell’ID caricato dal medesimo; lettura ed eventuale modifica del contenuto contrattuale; apposizione della firma elettronica avanzata mediante OTP recata sul proprio telefono cellulare; eventuale annullamento della operazione mediante click sul tasto Abbandona Meeting.
4.2	Al termine delle operazioni di firma il documento assume caratteristiche tecniche ed informatiche che ne garantiscono integrità e non modificabilità. I documenti firmati saranno disponibili e scaricabili nell’area privata del portale. In ogni caso, potrà essere richiesta a Lawing S.r.l. una copia cartacea della documentazione già sottoscritta con la firma elettronica avanzata al seguente indirizzo mail: info@agree.live.

5.	Modalità di funzionamento del servizio di Firma Elettronica con più di 2 Utenti
5.1	In base all'art. 60 DPCM 22.2.13 “la firma elettronica avanzata … è utilizzabile limitatamente ai rapporti giuridici intercorrenti tra il sottoscrittore e il soggetto di cui all’art. 55, comma 2, lett. a”.
Conseguentemente, non può essere qualificata Avanzata la firma elettronica alla quale abbiano preso parte più di due utenti, il Licenziatario ed un unico Ospite.
5.2	In ogni caso, il requisito della forma scritta e l’efficacia prevista dall’art. 2702 c.c. valgono anche per il “documento informatico … formato, previa identificazione informatica del suo autore, attraverso un processo avente i requisiti fissati dall’Agid ai sensi dell’art. 71 con modalità tali da garantire la sicurezza, integrità e immodificabilità del documento e, in maniera manifesta ed inequivoca, la sua riconducibilità all’autore”. Conseguentemente, le caratteristiche del processo di firma elettronica di Agree.Live, elencate al precedente Punto 3, possono soddisfare le predette garanzie di sicurezza, integrità e immodificabilità non soltanto in ragione dell’uso della OTP di Agree.Live, ma anche in considerazione delle interazioni dei partecipanti nel corso del video-meeting e della notarizzazione mediante time stamp dei dati di firma.
5.3	Fatte le precedenti premesse, il servizio di Firma Elettronica – corrispondente al requisito della forma scritta e dotato della efficacia di cui all’art. 2702 c.c. –  offerto su Agree.Live consente le seguenti modalità di utilizzo.
	Licenziatario: controllo dei dati personali degli Ospiti dal medesimo invitato; verifica della identità degli Ospiti mediante riconoscimento de visu e confronto durante il video-meeting dell’ID caricato dal medesimo; lettura ed eventuale modifica del contenuto contrattuale; apposizione della firma elettronica avanzata mediante OTP recata sul proprio telefono cellulare; eventuale annullamento della operazione mediante click sul tasto Abbandona Meeting.
	Ospiti (2 o più): controllo dei dati personali del Licenziatario da cui ha ricevuto l’invito; verifica della identità del Licenziatario mediante riconoscimento de visu e confronto durante il video-meeting dell’ID caricato dal medesimo; lettura ed eventuale modifica del contenuto contrattuale; apposizione della firma elettronica avanzata mediante OTP recata sul proprio telefono cellulare; eventuale annullamento della operazione mediante click sul tasto Abbandona Meeting.
5.4	Al termine delle operazioni di firma il documento assume caratteristiche tecniche ed informatiche che ne garantiscono integrità e non modificabilità. I documenti firmati saranno disponibili e scaricabili nell’area privata del portale. In ogni caso, potrà essere richiesta a Lawing S.r.l. una copia cartacea della documentazione già sottoscritta con la firma elettronica avanzata al seguente indirizzo mail: info@agree.live.

6.	Caratteristiche delle tecnologie utilizzate
6.1	La piattaforma di Agree.live è progettata utilizzando i più moderni standard dell'informatica, che consente la comunicazione video ed audio, la firma digitale e la conservazione dei documenti firmati. La piattaforma è utlizzabile in modalità web application e non necessita di alcuna installazione. Il modulo video utilizza una SFU con standard DTLS e SRTP per la comunicazione sicura, con la possibilità di utilizzare la crittografia end-to-end per la massima sicurezza. La piattaforma di firma eroga il servizio di Firma Elettronica Certificata con OTP, ai sensi di legge, garantendo i requisiti di riconoscimento, immutabilità e conservazione secondo lo standard ISO 19005:4-2020. Tutti i dati sono conservati secondo la modalità "encryption at rest" per impedire ogni accesso non autorizzato.

7.	Modalità di trattamento dei dati
7.1	I dati personali degli Utenti, sono trattati ai sensi del General Data Protection Regulation 679/2016 (GDPR). Le categorie di dati trattati sono: quelli della documentazione di riferimento del contratto che si intende associare al servizio firma elettronica (avanzata e non), quelli trattati in fase di adesione alle presenti condizioni incluso il numero dell’utenza telefonica mobile associato ai predetti contratti. Sotto il profilo della sicurezza dei dati trattati, Lawing S.r.l. garantisce l’adozione di misure tecniche e organizzative adeguate per garantire un livello di sicurezza adeguato al rischio ai sensi dell’art. 32 GDPR. Lawing S.r.l. garantisce, inoltre, che i dati saranno conservati in un database dedicato contro il rischio di eventuali operazioni indebite sui dati personali degli interessati Lawing S.r.l. Per maggiori informazioni su modalità e finalità del trattamento dei dati può consultare l’informativa unita al presente documento.

8.	Limitazioni di responsabilità
8.1	Lawing S.r.l. non assume alcuna responsabilità in merito ai dati ed ai file che sono adoperati ed inseriti liberamente sulla piattaforma Agree.Live dai Licenziatari, così come non assume alcuna responsabilità sulle iniziative intraprese dai loro Ospiti.
I modelli, i contenuti ed il software di Agree.Live sono stati realizzati utilizzando le discipline normative e contrattuali in vigore. Tuttavia, Lawing S.r.l. non assume alcuna responsabilità in merito ai risultati ottenuti dalle immissioni di dati da parte degli Utenti, poiché soggetti ad una loro valutazione personale.
8.2	Allo stesso modo, Lawing S.r.l. non assume alcuna responsabilità per danni di qualunque tipo, ivi inclusi i danni connessi ad un temporaneo malfunzionamento del software ovvero dei relativi sistemi informatici.
8.3	Lawing S.r.l. non assume alcuna obbligazione né presta alcuna garanzia che non sia espressamente prevista nel presente contratto. Essa non assume alcuna responsabilità per i danni di qualsivoglia natura subiti dagli Utenti o dai loro aventi causa, in relazione al presente contratto o alle prestazioni rese da Lawing S.r.l., compresi i danni che fossero derivati dall’uso che l’Utente abbia fatto dei prodotti e/o servizi forniti per il tramite del software e del gestionale di Con-Testo.

9.	Informazioni riguardanti la copertura assicurativa
9.1	Lawing S.r.l. ha stipulato in ottemperanza alle previsioni legislative contenute nel DPCM 22.2.13, art. 57, comma 2, una polizza assicurativa – rilasciata da AIG Europe S.A. Rappresentanza Generale per l’Italia - Piazza Vetra, 17- 20123 Milano abilitata ad esercitare nel campo dei rischi industriali – per la responsabilità civile da danno a terzi eventualmente derivante dalla fornitura del servizio di FEA.
  </pre></p>
  <% end %>

  <%- if I18n.locale == :en %>
  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Dear user, the legislation in question currently takes into account the requirements of Italian legislation for transactions concluded on Italian territory or in any case by natural or legal persons subject to Italian and European regulations.
  </p>
  <% end %>
</div>