<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".electronic_signatures") %></h1>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    This application uses Advanced Electronic Signatures. By using this application, you are using Advanced Electroic Signatures.
  </p>
</div>