<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t("agreements.terms") %></h1>

  <%- if I18n.locale == :it %>
  <p class="mb-4 text-xl text-gray-700 leading-normal"><pre style="white-space: pre-wrap">
    CONDIZIONI DI UTILIZZO

Grazie per avere scelto Agree.Live di Lawing S.r.l. La nostra mission è quella di creare un modo più immediato di comunicare ed allo stesso tempo sottoscrivere i contratti, grazie ad una piattaforma intuitiva e unificata, che ti consente di effettuare video meeting e di apporre firma elettronica ai tuoi file pdf.

premesso che:
a.	LAWING S.r.l., con sede in Milano, Piazza San Marco n. 1, iscritta al Registro Imprese di Milano, C.F. e P.IVA 10628920968, in persona del legale rappresentante pro tempore, (di seguito “Lawing”), è proprietaria della piattaforma on line denominata AGREE.LIVE (di seguito, “Piattaforma” e/o “AGREE.LIVE”), che consente di effettuare video-meeting on line e di sottoscrivere elettronicamente documenti informatici.
b.	Lawing S.r.l. concede in uso il software denominato Agree.Live a coloro che si registrano mediante accesso on line (d’ora innanzi “Licenziatari”) agli indirizzi web www.agree.live;
c.	A seguito della corretta registrazione ed attivazione del proprio account, il Licenziatario può disporre della piattaforma Agree.Live per svolgere dei video-meeting ed apporre firma elettronica ai file pdf, secondo le limitazioni di durata ed utilizzo previste dai piani tariffari;
d.	Il Licenziatario dispone altresì della facoltà di invitare coloro che prenderanno parte ai video-meeting ed ai processi di apposizione della firma elettronica (cd. Ospiti);
e.	L’uso della piattaforma Agree.Live è gratuito per il periodo di tempo limitato e secondo le condizioni previste dal cd. Piano Freemium, discrezionalmente modificabile da Lawing S.r.l.;
f.	L’utilizzo della piattaforma, oltre i limiti di tempo previsti per il Piano Freemium, avviene secondo le modalità a pagamento previste dai Piani Tariffari stabiliti discrezionalmente da Lawing S.r.l.;
g.	Corrispondono indifferentemente alla denominazione di “Utente” sia i Licenziatari sia i loro Ospiti. Per entrambi l’uso della piattaforma Agree.Live è condizionato alla preventiva accettazione della Nota Informativa ed Accettazione del Servizio;
h.	il Licenziatario, invece, con la propria adesione al presente contratto, intende accettare integralmente ed ulteriormente le seguenti

condizioni:

Art. 1 – Accettazione e perfezionamento 
Il presente contratto prevede che il modulo di registrazione venga opportunamente compilato in modalità telematica da ciascun Licenziatario a seconda delle differenti modalità di accesso ed utilizzo anche in relazione al Piano Tariffario scelto.
La digitazione dei pulsanti di accettazione posti in calce al presente contratto esprime e formalizza il consenso del Licenziatario.
Il presente contratto si considera così perfezionato ed esplicherà i suoi effetti sin dal momento stesso in cui il Licenziatario abbia premuto i pulsanti digitali di accettazione.
Con la compilazione telematica della registrazione e la digitazione del pulsante di accettazione, il contenuto del presente accordo si considera vincolante per il Licenziatario e di conseguenza irrevocabile per lo stesso, ai sensi dell’art. 1329 c.c.

Art. 2 – Servizi e prodotti 
In forza del presente contratto Lawing S.r.l. concede al Licenziatario la licenza d’uso, non esclusiva e non trasferibile, del software e del gestionale Agree.Live, da utilizzarsi in connettività remota, via internet, per la erogazione dei servizi di cui al presente accordo e secondo le modalità di registrazione ed accesso.
Lawing S.r.l. concede altresì al Licenziatario lo spazio web necessario alla archiviazione dei file oggetto di firma elettronica e dei documenti di identità suoi e degli ospiti del medesimo.
Lawing S.r.l., in ottemperanza a quanto previsto dalla normativa di riferimento (art. 57, art. 1 lett. B, DPCM 22.2.13), si impegna a conservare i documenti di riconoscimento, unitamente alle ulteriori informative accettate dal medesimo, nei termini ed alle condizioni di legge.
La licenza d’uso in parola autorizza il Licenziatario a svolgere le seguenti attività: accesso all’area riservata della piattaforma, utilizzo dei dispositivi di invito degli ospiti e di caricamento dei file, accesso alle video-room, apposizione di firma elettronica, archiviazione dei file salvati sulla piattaforma.

Art. 3 – Titolarità e diritti sui prodotti in licenza 
Il Licenziatario riconosce di non acquistare alcun diritto di proprietà dei servizi erogati da Lawing S.r.l., né di quelli concessi in licenza d’uso, ma solo esclusivamente il diritto di godere dei medesimi nei termini ed alle condizioni di seguito specificati.
Pertanto, ogni licenza d’uso ha carattere rigorosamente limitato al solo uso interno e per il solo Licenziatario, limitatamente peraltro alle modalità di accesso, che si obbliga in tal modo a non cedere né a concedere a terzi l’utilizzo del software e del gestionale Agree.Live.
È fatto espresso divieto al Licenziatario di copiare, in tutto o in parte, i software, le architetture ed i contenuti del gestionale Agree.Live.
Tutti i marchi registrati e non, come ogni e qualsiasi segno distintivo o denominazione apposti sul gestionale e la relativa documentazione, restano di proprietà di Lawing S.r.l. Il Licenziatario si impegna a non distruggere, alterare o spostare tali marchi, segni distintivi e denominazioni.
La licenza d’uso non concede alcun diritto sul codice sorgente originale. Tutte le tecniche, gli algoritmi e i procedimenti contenuti nel software e nella relativa documentazione sono informazioni protette dal diritto d’autore e sono di proprietà di Lawing S.r.l., pertanto, non possono essere usati in alcun modo dal Licenziatario e dai suoi ospiti per scopi diversi da quelli indicati e consentiti dal presente contratto.

Art. 4 – Nuove versioni e documentazioni 
Nuove versioni e nuove documentazioni del software e del gestionale Agree.Live potranno essere rese disponibili al Licenziatario in base ad un separato contratto. Sarà facoltà di Lawing S.r.l. distribuire nuove versioni anche senza preavviso o accettazione da parte del Licenziatario, non rendendosi necessaria in tal caso la sottoscrizione di un ulteriore contratto.
Anche per le nuove versioni e documentazioni vige l’obbligo del Licenziatario a non cedere a terzi né a consentire l’utilizzo del software e del gestionale Agree.Live.

Art. 5 – Aggiornamenti 
Gli aggiornamenti del software e del gestionale Agree.Live dovranno ritenersi soggetti alle clausole del presente contratto.
Anche per gli aggiornamenti vige l’obbligo del Licenziatario a non cedere a terzi né a consentire l’utilizzo del software e del gestionale Agree.Live.

Art. 6 – Impegno di riservatezza, di segretezza, di non concorrenza su prodotti, nuove versioni, documentazioni ed aggiornamenti
Il Licenziatario si impegna a non divulgare a terzi alcuna informazione, sotto qualsiasi forma, relativa ai prodotti, alle nuove versioni, alle documentazioni, agli aggiornamenti, alle architetture e strutture del software e del gestionale Agree.Live. Il Licenziatario si obbliga altresì a proteggere i diritti di Lawing S.r.l., garantendo la segretezza del software concessogli in uso ed astenendosi – sin dall’avvio della prova gratuita e per tutto il successivo anno – dal porre in essere, per via diretta e/o indiretta, iniziative commerciali e/o imprenditoriali che sul territorio nazionale replichino il modello di business ed il servizio offerto da Lawing S.r.l. per il tramite del gestionale in questione. Saranno di conseguenza a carico del medesimo perdite, danni, reclami, spese ed in generale ogni costo sostenuto a causa della violazione del presente articolo, oltre al pagamento di una penale pari a cento volte il valore dell’abbonamento annuale.
Per parte sua Lawing S.r.l. si impegna a mantenere il più stretto riserbo in merito a qualsiasi informazione e/o dato riguardante gli affari ed i segreti del Licenziatario, dei quali venga a conoscenza nell’esecuzione del presente contratto, e si impegna, altresì, a garantire l’esatta osservanza del presente obbligo di segretezza da parte dei propri dipendenti, consulenti e collaboratori.
Le parti reciprocamente convengono che i vincoli di cui ai precedenti capoversi (riservatezza, segretezza e non concorrenza) continueranno ad avere valore anche dopo la conclusione del contratto e comunque finché le informazioni riservate non diventino di pubblico dominio ed il know how appreso non possa essere ritenuto obsoleto.

Art. 7 – Assistenza 
Lawing S.r.l. si impegna a fornire tempestiva assistenza per l’utilizzo del software e del gestionale Agree.Live al Licenziatario che effettua la segnalazione del problema ovvero del disservizio secondo le modalità ed i criteri previsti nella apposita area del sito web www.Agree.Live.com/assistenza. L’assistenza verrà prestata negli orari di lavoro della struttura tecnica di Lawing S.r.l., anch’essi indicati nella apposita pagina web.
Le attività di assistenza non potranno riguardare i contenuti legali e/o professionali ma saranno limitate ai soli aspetti e temi informatici.

Art. 8 – Pagamenti e fatturazione
Il Licenziatario, in caso di attivazione dell’abbonamento, può scegliere di pagare l’ammontare corrispondente al pacchetto prescelto in un’unica soluzione anticipata, accedendo in tal modo alle eventuali scontistiche previste, oppure con un versamento mensile, il cui ammontare corrisponde al valore del pacchetto pro-tempore accettato dal medesimo al momento della prima registrazione.
L’abbonamento coprirà l’accesso al gestionale Agree.Live e l’utilizzo del pacchetto di acquisto. I costi relativi alla linea telefonica e altri eventuali costi di comunicazione o accesso saranno ad esclusivo carico del Licenziatario.
Tutti i prezzi di abbonamento ed i relativi canoni sono indicati nell’allegato A del presente contratto, non includono l’IVA che viene determinata secondo le aliquote di volta in volta in vigore. 
Il Licenziatario che ha prescelto il pagamento mensile si impegna a pagare il canone relativo al proprio pacchetto di abbonamento in un’entro il giorno 12 di ogni mese, mediante bonifico, carta di credito; carta di debito; PayPal o altro metodo di pagamento accettato da Lawing S.r.l., valido e attuale, inclusi fornitori terzi di servizi di pagamento supportati, cd. metodo di pagamento.
Il Licenziatario dichiara e conferma di essere titolare del metodo di pagamento utilizzato, ovvero di avere l’autorizzazione all’utilizzo dello stesso da parte del titolare della carta o dell’account. Tutti gli account e i metodi di pagamento sono soggetti ad autorizzazione e controlli di validità da parte del relativo fornitore. In caso di rifiuto del metodo di pagamento utilizzato, non sarà consentito l’accesso al gestionale di Agree.Live fino a quando non sarà fornito dal Licenziatario, ed approvato da Lawing S.r.l., un metodo di pagamento valido.
Per alcuni metodi di pagamento l’emittente potrebbe addebitare alcuni costi, come commissioni sulle operazioni in valuta o altre spese connesse all’elaborazione del metodo di pagamento, che saranno a carico del Licenziatario. Resta ferma la facoltà di Lawing S.r.l. di rifiutare metodi di pagamento a propria ragionevole discrezione.
L’importo dovuto per l’accesso e l’utilizzo del gestionale Agree.Live sarà addebitato all’inizio di ogni mese sul metodo di pagamento prescelto. La relativa fattura sarà disponibile sulla apposita area riservata del gestionale.
E’ rimessa alla discrezionale scelta di Lawing S.r.l. la facoltà di incrementare il prezzo dell’abbonamento mensile, in caso di mutate condizioni di mercato, di aumento significativo dei costi di gestione e fornitura del servizio ovvero di variazioni dell’IVA o imposte analoghe. 

Art. 9 – Ritardo nei pagamenti, periodo di tolleranza, sospensione del servizio e penale
In caso di ritardo nel pagamento dell’abbonamento mensile, Lawing S.r.l. si riserva la facoltà di incaricare soggetti esterni per la riscossione di quanto dovuto. Le spese per il recupero del credito e più in generale tutti gli oneri relativi al mancato adempimento saranno integralmente a carico del Licenziatario.
In caso di ritardo nel pagamento dell’abbonamento mensile, il Licenziatario conserverà il diritto di accedere al gestionale Agree.Live per la sola consultazione dei propri file, senza accesso alle video-room. Resta ferma la facoltà di Lawing S.r.l. di interrompere anche l’erogazione di questo ulteriore servizio gratuito.

Art. 10 – Variazione intestazioni
Ogni variazione di indirizzo/domicilio/sede, di ragione sociale, posta elettronica certificata, di dati fiscali del Licenziatario e dei dati relativi al metodo di pagamento nonché alla elaborazione della fattura elettronica dovranno essere senza indugio aggiornati dallo stesso sulla anagrafica del gestionale.
I relativi costi amministrativi e di gestione per le variazioni o modifiche saranno ad esclusivo carico del Licenziatario.

Art. 11 – Recesso
Il Licenziatario potrà recedere in ogni momento dal proprio abbonamento, effettuando login alla area riservata e cliccando sul tasto "Cancella Abbonamento".
Lawing S.r.l. potrà recedere anch’essa previo riconoscimento al Licenziatario di un preavviso di 30 giorni dalla data della comunicazione di recesso, che verrà trasmessa all’indirizzo di posta elettronica certificata indicata dal Licenziatario nella propria area riservata.
In caso di erronea indicazione dell’indirizzo di posta elettronica certificata, la responsabilità sarà da imputarsi unicamente al Licenziatario e di conseguenza – ancorché non recapitata – la notizia di recesso produrrà effetto dalla data di effettivo invio. In ogni caso, in tali circostanze il Licenziatario dichiara di ammettere l’invio della comunicazione di recesso anche per il tramite di raccomandata elettronica ad uno degli indirizzi di posta elettronica salvati nella Area riservata.

Art. 12 – Clausola risolutiva espressa
Impregiudicato ogni altro diritto delle parti, qualsiasi inadempimento – anche di scarsa importanza – rispetto alle obbligazioni di cui agli artt. 3, 4, 5, 6 e 10 del presente contratto ne comporterà l’immediata risoluzione di diritto, ai sensi dell’art. 1456 c.c.
Impregiudicato ogni altro diritto di Lawing S.r.l., il mancato pagamento dell’abbonamento mensile, protratto un eventuale periodo di tolleranza, comporterà anch’esso l’immediata risoluzione di diritto, ai sensi dell’art. 1456 c.c.
La risoluzione è comunicata mediante pec. Nel caso di erronea indicazione della pec, gli effetti della risoluzione varranno comunque dalla data dell’inadempimento.

Art. 13 – Limitazioni di responsabilità
Lawing S.r.l. non assume alcuna responsabilità in merito ai dati che sono adoperati ed inseriti liberamente dal Licenziatario e dai suoi ospiti.
Il software di Agree.Live ed i processi di firma elettronica sono stati realizzati utilizzando le discipline normative e contrattuali in vigore. Tuttavia, Lawing S.r.l. non assume alcuna responsabilità in merito ai risultati ottenuti dalle elaborazioni ed archiviazioni perché derivanti dalla immissioni di dati da parte di ogni utente della piattaforma, soggetti quindi ad una valutazione personale.
Allo stesso modo, Lawing S.r.l. non assume alcuna responsabilità per danni di qualunque tipo, ivi inclusi i danni connessi ad un temporaneo malfunzionamento del software ovvero dei relativi sistemi informatici.
Lawing S.r.l. non assume alcuna obbligazione né presta alcuna garanzia che non sia espressamente prevista nel presente contratto. Essa non assume alcuna responsabilità per i danni di qualsivoglia natura subiti dal Licenziatario o dai suoi aventi causa, in relazione al presente contratto o alle prestazioni rese da Lawing S.r.l., compresi i danni che fossero derivati dall’uso che il medesimo abbia fatto dei prodotti e/o servizi forniti per il tramite del software e del gestionale di Agree.Live.

Art. 14 – Foro competente 
Per ogni e qualsiasi controversia relativa alla interpretazione, all’esecuzione e cessione del presente contratto è competente in via esclusiva il Foro di Milano.

Art. 15 – Clausole finali 
L’eventuale tolleranza di una parte all’inadempimento dell’altra non potrà in alcun modo essere considerata come rinuncia ai diritti derivanti dal presente contratto.
L’invalidità e/o inefficacia di singole clausole o articoli del presente contratto non avrà conseguenza sulle restanti norme e quindi sull’efficacia dell’intero contratto.

Art. 16 – Allegati 
L’allegato A recante il listino dei pacchetti commercializzati da Lawing S.r.l. su Agree.Live è parte integrante del presente contratto e deve essere anch’esso in ogni caso specificamente accettato dal Licenziatario secondo le modalità previste dal precedente art. 1.

Art. 17 – Trattamento dei dati personali 
I dati anagrafici, bancari e commerciali relativi al presente rapporto contrattuale saranno raccolti ed archiviati internamente ai server di Lawing S.r.l.
Il Licenziatario autorizza espressamente il trattamento dei dati personali, ai sensi del Regolamento UE n. 679/2016. I dati raccolti saranno trattati dal personale impiegato dal titolare del trattamento, da collaboratori, partner tecnologici, agenti e/o professionisti di fiducia di Lawing S.r.l. al fine di rendere possibile lo svolgimento del rapporto contrattuale di fornitura di beni e/o servizi acquistati. I dati personali dei soggetti interessati sono conservati in archivi cartacei, informatici e telematici situati in paesi UE nei quali è applicato il GDPR.
In caso di rifiuto a fornire i dati anagrafici e fiscali identificativi Lawing S.r.l. dovrà ritenersi impossibilitata all’erogazione dei servizi. I dati assunti saranno comunicati agli uffici amministrativi per assolvere agli obblighi di tenuta della contabilità ed eventualmente a terzi per l’attivazione, gestione e/o mantenimento dei servizi forniti da Lawing S.r.l.
Il responsabile del trattamento è Lawing S.r.l. e potrà essere contattato da ogni interessato mediante comunicazione scritta da inviarsi a Lawing S.r.l. Piazza San Marco n. 1, 20121 Milano, oppure all’indirizzo l.pradovera@lawing.it.
La versione integrale dell’informativa sulla privacy è consultabile alla pagina www.lawing.it/privacy oppure www.Agree.Live.com/privacy.

    </pre></p>
  <% end %>

  <%- if I18n.locale == :en %>
  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Dear user, the legislation in question currently takes into account the requirements of Italian legislation for transactions concluded on Italian territory or in any case by natural or legal persons subject to Italian and European regulations.
  </p>
  <% end %>
</div>
