/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


.videoFrame {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.videoMuted {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #f33;
  display: none;
  font-size: 20px;
}

.videoFrame video {
  width: 100%;
}

.videoPlaceholder {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: #ccc;
  position: relative;
  display: none;
}

.videoPlaceholder i {
  font-size: 100px;
  color: #666;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.videoBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.needHelp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 100px;
}